.App {
  text-align: center;
  padding: 30px;
}

.h1 {
  color: red;
}

.highlight {
  color: blue;
}

.text {
  font-size: 30px;
  color: red;
}

.button {
  background-color: royalblue;
  height: 30px;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  margin: 20px;
}

.App__body {
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  /* margin: 0 auto; */
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.outerdiv {
  bottom: 311px;
  left: 0;
  right: 0;
  position: absolute;
}
.innerdiv {
  height: 20px;
  width: 20px;
  margin: 2px;
  box-sizing: border-box;
  background: green;
  display: inline-block;
}
